@charset "utf-8";
/* CSS Document */

html {
  font-family: "Raleway", sans-serif;
  min-height: 100%; /* For sticky footer */
}
body {
  margin: 0 auto;
  height: 100%; /* For sticky footer */
  display: flex; /* For sticky footer */
  flex-direction: column; /* For sticky footer */
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug.*/
}
.wrapper {
  position: relative;
  display: block;
  flex: 1 0 auto; /* For sticky footer */
}
h1 {
  font-family: "Amatic SC", sans-serif;
  font-size: 4em;
  line-height: 1;
  margin: 0;
  padding: 0 20px;
  margin-bottom: 50px;
}
@media (min-width: 400px) {
  h1 {
    font-size: 5em;
  }
}
p {
  font-size: 1.2em;
}
main {
  margin-bottom: 110px;
}
input {
  outline: none;
  border: none;
  border-bottom: 5px solid #ccc;
  width: 200px;
  font-size: 1.5em;
  padding: 15px;
  text-align: center;
}
input:focus {
  background-color: #eee;
}
@media (min-width: 768px) {
  input {
    margin-top: 30px;
    width: 300px;
  }
}
.main {
  background: #ffffff;
  height: 100%;
  width: 100%;
  text-align: center;
  height: 100%;
  padding-top: 75px;
}
.main img {
  box-sizing: border-box;
  margin: 25px;
  width: auto;
  height: auto;
  max-width: 250px;
  max-height: 250px;
}
@media (min-width: 500px) {
  .main img {
    max-width: 200px;
    max-height: 200px;
  }
}
@media (min-width: 768px) {
  .main img {
    max-width: 250px;
    max-height: 250px;
  }
}
@media (min-width: 1200px) {
  .main img {
    max-width: 300px;
    max-height: 300px;
  }
}
footer {
  background: #91ba41;
  width: 100%;
  height: auto;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-top: 75px;
  padding: 10px 0;
}
footer .size {
  color: #101010;
  font-size: 1.5rem;
  padding: 0 10px 10px;
}
.footer {
  flex-shrink: 0; /* For sticky footer */
}
.fontAwesome {
  font-size: 50px;
  color: #48c7ff;
}

/* Lightbox styling */

.lightbox .lb-image {
  box-sizing: border-box;
  border: 10px solid white;
}
.lb-data .lb-caption {
  font-weight: unset;
  font-size: 15px;
  line-height: 1.2em;
}
.lb-dataContainer {
  padding-top: 10px;
}
@media (min-width: 768px) {
  .lightbox .lb-image {
    border: 25px solid white;
  }
  .lb-data .lb-caption {
    font-size: 20px;
  }
}
